*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/shelf/Uncommitted_changes_before_Update_at_2024-04-06__5_55_p_m___Changes_.xml
.idea/shelf/Uncommitted_changes_before_Update_at_2024-04-06__5_14_p_m___Changes_.xml
.idea/shelf/Uncommitted_changes_before_Checkout_at_2024-04-07__2_51_p_m___Changes_1.xml
.idea/shelf/Uncommitted_changes_before_Checkout_at_2024-04-07__2_51_p_m___Changes_.xml
.idea/shelf/Uncommitted_changes_before_Checkout_at_2024-03-25__1_08_p_m___Changes_.xml
